{% extends "base.html.twig" %}

{% block body %}
            <h1>Films</h1>
    <div class="jumbotron">
        <div class="container">
            {{ form_start(form)}}
            <div class="form-row">
                <div class="col">
                    {{form_row(form.title)}}
                </div>
                <div class="col">
                    {{form_row(form.acteur)}}
                </div>
                <div class="col">
                    <button class="btn btn-primary">{{button|default('Trouver')}}</button>
                </div>
            </div>
            {{form_end(form)}}
        </div>
    </div>
    <div class="row m-4">    
    {% for movie in movies %}
        <div class="col-md-6">
            {% include "movie/_movie.html.twig" %}   
            </div>     
        {% endfor %}        
        <div class="pagination">
            {{ knp_pagination_render(movies) }}
        </div>
    </div>

{% endblock %}