{% extends "base.html.twig" %}


{% block body %}
<div class="jumbotron text-center">
<div class="container">    
        <h1>Gérer les films</h1>
{% for message in app.flashes('success') %}
    <div class="alert alert-success">
    {{message}}
    </div>
{% endfor %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Titre </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for movie in movies %}
            <tr>
                <td>{{movie.Title}}</td>
                <td>
                    <a href="{{path('admin.movie.edit', {id: movie.id}) }}" classe "btn btn-secondary">Editer</a>
                    <form method="post" action="{{ path('admin.movie.delete', {id: movie.id}) }}" style="display: inline-block" onsubmit="return confirm('Etes vous vraiment sûr ?')">
                        <input type="hidden" name="_method" value="DELETE">
                        <button class="btn btn-danger">Supprimer</button>
                    </form>
                </td>
            </tr>        
        {% endfor %}
        
        </tbody>
    </table>            
    <div class="pagination">
        {{ knp_pagination_render(movies) }}
    </div>
<div class="test-rigth">
<a href="{{path("admin.movie.new")}}" class="btn btn-primary" >Enregister un nouveau film</a>
</div>
</div>



</div>
{% endblock %}